body,html{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgba(161, 25, 7, 0.623);
    color: rgb(0, 0, 0,1);
    height: 10vh;
    font-size: 36px;
}

#userbutton{
    font-size:20px;
    position: absolute;
    left: 90%;
}

#scrollButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: blue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #scrollButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }